body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

.container-text {
  width: 500px;
  font-weight: 700;
  border: 5px solid blue;
  padding: 0 20px 0 20px;
  margin-bottom: 50px;
  border-style: dashed;
  font-size: 18px;
}

.meu-botao {
  height: 70px;
  width: 300px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: inset;
  background-color: blue;
  color: aliceblue;
}
