body {
  display: flex;
  flex-direction: column;
  width: 99%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  background-color: black;
  color: #fff;
  padding-top: 200px;
}

.container {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 10px;
}

.title {
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
  border: 1px dashed #fff;
}

.title button {
  background-color: yellow;

  height: 30px;
  border-radius: 50px;
  margin-left: 30px;
}

.title button:hover {
  background-color: rgba(255, 255, 0, 0.466);
}

.container input {
  height: 30px;
  width: 200px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
}

.container select {
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 2px;
  font-size: 14px;

  margin-bottom: 20px;
  font-weight: 700;
}

.container button {
  height: 30px;
  width: 70px;
  margin-bottom: 20px;
  background-color: blueviolet;
}

.valor-a {
  color: rgba(73, 252, 88, 0.911);
}

.valor-b {
  color: yellow;
}

#campo3 {
  display: flex;
  align-items: center;
  border: 1px solid green;
  height: 30px;
  padding: 2px;
  font-weight: 700;

}
